body{
    display: flex;
    flex-direction: column;
    align-items: center;

      background-image: linear-gradient(to right, rgb(206, 140, 103) , rgb(154, 63, 207));

}

.divContainer
{
    background-color: rgb(113, 87, 114);
    border: 2px solid rgb(3, 3, 3);
    width: 500px;
    height: 500px;

    display: flex;
    flex-direction: column;
}

.divRow
{
    display: flex;
    flex: 2 1 auto; /* makes row container take up all the space */
}

.divRow div  /* makes boxes take up all the space */
{
    color: brown;
    flex: 2 1 auto;
    border: 1px solid rgb(245, 138, 197);
}

.headerBtns
{
    margin-bottom: 22px;
    width: 500px;
    
    display: flex;
    justify-content: center;
    gap: 10px;
}